html,
body {
	min-width: 320px;
	font-size: 16px;
	line-height: 21px;
	font-weight: normal;
	font-style: normal;
	font-family: "PT Sans", Arial, sans-serif;
	color: #333;
	background: #f2f2f2;
}

h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	font-style: normal;
	font-family: "PT Sans", Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #333;
	background: transparent;
}

h2 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	font-style: normal;
	font-family: "PT Sans", Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #333;
	background: transparent
}

h3 {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	font-style: normal;
	font-family: "PT Sans", Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #333;
	background: transparent;
}

img {
	max-width: 100%;
	height: auto;
	border: none;
}

section {
	position: relative;
}

a {
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	background: transparent;
	border: none;
}

a:active,
a:hover,
a:focus {
	outline: 0;
}

p {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	font-style: normal;
	font-family: "PT Sans", Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #333;
	background: transparent;
}

b,
strong {
	display: block;
	font-size: 14px;
	line-height: 26px;
	font-style: normal;
	font-weight: normal;
	font-family: "PT Sans", Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	background: transparent;
}

ul {
	list-style: none;
}

span {
	text-transform: uppercase;
}

p,
h1,
h2,
h3,
h4,
ul,
input,
figure {
	margin: 0;
	padding: 0;
}

article,
aside,
details,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	position: relative;
	display: block;
	font-size: 0;
	line-height: 0;
}

button,
select {
	text-transform: none;
	cursor: pointer;
}

.btn {
	display: inline-block;
	padding: 12px 17px;
	font-size: 14px;
	line-height: 21px;
	font-style: normal;
	font-weight: bold;
	font-family: "PT Sans", Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: #81b3d2;
	border-radius: 0;
	border: none;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
	outline: none;
}

.visually-hidden {
	display: none;
}

.text-center {/*общий класс для многих блоков*/
	text-align: center;
}
/*
.container {
	width: 1200px;
	margin: 0 auto;
}
*/
.clearfix:after {/*общий класс для многих блоков*/
    content: '';
    clear: both;
    display: table;
}

/*------INDEX PAGE-----------------------*/
/*------------header------------*/
.main-header {
	width: 1200px;
	margin: 0 auto;
	background-color: #fefefe;
}

.logo {
	position: absolute;
	top: 0px;
	left: 45%;
	z-index: 2;
}

.site-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	padding: 15px 0;
}

.site-navigation a {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	font-style: normal;
	font-family: "PT Sans", Arial, sans-serif;
	color: #000;
	background: #fff;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #b2b2b2; 
}

/*-------section.about------*/
.sedona-fon {
	padding-top: 615px;
	background: #fff url("../img/main-background.png") no-repeat top center;
}

.big-headline {
	width: 520px;
	margin: auto;
}

.sub-title {
	padding-top: 20px;
	padding-bottom: 40px;
	color: #333;
}

/*-------main------*/

main {
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
}

/*-------section.features-------*/

section.features {
	margin-bottom: 40px;
}

.features-illustration {
	background: #81b3d2;
}

.illustration-image,
.illustration-description
 {
	float: right;
}

.illustration-description * {
	margin: 0 auto;
	padding-top: 38px;
	padding-right: 55px;
	color: #fff;
}

.main-headline {
	width: 151px;
	margin: 0 auto;
}

.text-comment {  /*общий класс для многих блоков*/
	width: 280px;
	margin: 0 auto;
	padding-top: 34px;
}

.block-title {
	width: 400px;
	display: inline-block;
	padding: 60px 0;
	text-align: center;
	vertical-align: middle;
}

.sub-headline {
	padding-top: 34px;
	font-size: 21px;
}

.left .illustration-description{
	float: right;
}

.left > img {
	float: left;
}

.color-fon {
	background: #eee;
}

.feature {
	width: 400px;
	display: inline-block;
	padding: 50px 0 64px;
	text-align: center;
	vertical-align: middle;
}

/*-------section.offers-------*/
.offers {
	padding-top: 46px;
}

.offers .main-headline {
	width: auto;
	margin-bottom: 14px;
	font-size: 30px;
	line-height: 24px;
}

.offers .text-comment {
	width: 365px;
	margin: 0 auto;
}

.offers .text-comment {
	margin-bottom: 43px;
}

.offers .btn {
	padding: 22px 140px;
	font-size: 21px;
	line-height: 26px;
	background: #766357;
}

/*-------footer-------*/
.main-footer {
	width: 1200px;
	margin: 0 auto;
	padding: 19px 0;
	background-color: #fff;
}

.main-footer .main-headline,
.footer-social,
.footer-copyright {
	display: inline-block;
	width: 400px;
	margin: 0;
	vertical-align: middle;
}

.main-footer .main-headline {
	line-height: 26px;
}

.social-btn {
	display: inline-block;
	width: 46px;
	height: 48px;
	margin: 0 6px;
	vertical-align: middle;
	background: #81b3d2 url("../img/sprites.png") no-repeat center;
	transition:
	background-position 0.5s,
	background-color 0.5s;
}

.social-btn:hover {
	background: #669ec0 url("../img/sprites.png") no-repeat center;
}

.social-btn-inst,
.social-btn-inst:hover {
	background-position: 10px 14px;
}

.social-btn-fb,
.social-btn-fb:hover {
	background-position: -40px 14px;
}

.social-btn-ytb,
.social-btn-ytb:hover {
	background-position: -90px 14px;
}


.social-btn:active {
	background: #5496bd url("../img/sprites.png") no-repeat center;
}

.social-btn-inst:active {
	background-position: 11px -38px;
}

.social-btn-fb:active {
	background-position: -41px -40px;
}

.social-btn-ytb:active {
	background-position: -88px -38px;
}

.copyright-title {
	display: inline-block;
	vertical-align: middle;
}

.footer-copyright .btn {
	width: 113px;
	height: 39px;
	padding: 0px;
	vertical-align: middle;
	background: transparent url(../img/sprites.png) no-repeat top center;
	background-position: 0 -154px ;
}

.footer-copyright .btn:hover {
	background-position: -270px -154px ;
}

.footer-copyright .btn:active {
	background-position: -134px -155px ;
}

/*----------------HOTEL PAGE-------------*/
.offers-filter {
	background: url(../img/background-hotel.jpg) 61% no-repeat;
	background-size: cover;
}

.form-offers,
.sort,
.hotels {
	width: 1056px;
	margin: 0 auto;
}

.offers-filter .sub-headline {
	color: #fff;
	background: transparent;
}

.list-options {
	padding-top: 10px;
}

.form-checkbox {
	display: none;
}

.checkbox-group .control-label {
	position: relative;
	display: inline-block;
	margin-bottom: 30px;
	padding-left: 35px;
	line-height: 21px;
	color: #fff;
}

.checkbox-group .control-label::before {
	content: '';
	position: absolute;
	width: 22px;
	height: 22px;
	top: -4px;
	left: 0;
	background: url(../img/sprites.png) no-repeat;
	background-position: -152px 0px;
}

.list-options input[type="checkbox"]:checked + .control-label::after {
	content: '';
	position: absolute;
	width: 26px;
	height: 22px;
	top: -4px;
	left: 0;
	background: url(../img/sprites.png) no-repeat;
	background-position: -152px 0px;
	background-position: -148px -53px;
}

.checkbox-group .control-label:hover::before {
	background-position: -202px -1px;
}

.list-options input[type="checkbox"]:checked + .control-label::after {
	background-position: -200px -52px;
}

/*  Позиции для disabled
.checkbox-group .control-label:active::before {
	background-position: -251px -4px;
}

.checkbox-group .control-label:active::after {
	background-position: -252px -51px;
}
*/

/*-----------------section.sort-------------------*/
.sort {
	padding: 32px 0;
}

.big-headline {
	width: auto;
}

.block-inline {
	display: inline-block;
}

.sorting {
	margin-left: 50px;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	color: #000;
}

.list-sort a{
	margin-left: 32px;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	font-family: "PT Sans", Arial, sans-serif;
	color: #b2b2b2;
	border-bottom: 1px dashed #81b3d2;
}

.list-sort a:hover {
	color: #81b3d2;
	border-bottom: 1px dashed #81b3d2;
}

.list-sort a:active {
	color: #000;
	border-bottom: none;
}

.list-sort .active {
	color: #92bdd8;
	border-bottom: none;
}


.hotel-groups {
	position: relative;
}



/*-------------------------popap----------------------------*/
.form-horizontal {
	display: none;
	width: 458px;
	margin: 0 auto;
	padding: 55px 55px;
	background: #fff;
}

.form-group {
	position: relative;
	margin-bottom: 15px;
	text-align: right;
	display: flex;
	justify-content: space-between;
}

.form-control {
	width: 311px;
	padding: 8px 15px;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	font-style: normal;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	color: #000;
	background: #f2f2f2;
	outline: none;
	border: 2px solid transparent;
}

.form-control:hover {
	background: #ebebeb;
}

.form-control:active {
	background: #ffffff;
	border: 2px solid #e5e5e5;
}

.small-form {
	width: 84px;
	text-align: center;
}

.control-label {
	font-size: 14px;
	line-height: 44px;  /*для выравнивания по вертикали*/
	font-weight: bold;
	font-style: normal;
	font-family: "PT Sans", Arial, sans-serif;
	color: #000;
	background: transparent;
	text-transform: uppercase;
}

.icon::after {
	content: "";
	position: absolute;
	top: 12px;
	right: 8px;
	width: 21px;
	height: 22px;
	z-index: 20;
	background: transparent url(../img/sprites.png) no-repeat top center;
	background-position: -102px -103px ;
	cursor: pointer;
}

.icon:hover::after {
	background-position: -52px -101px ;
}

.icon:active::after {
	background-position: -4px -102px ;
}

.form-horizontal .btn {
	width: 100%;
}

.form-horizontal .btn:hover {
	background: #669ec0;
}

.form-horizontal .btn:active {
	color: #88b6d1;
	background: #5496bd;
}

.control {
	position: relative;
}

.minus::before {
	content: "";
	position: absolute;
	top: 50%;
	right: 85px;
	width: 12px;
	height: 3px;
	background: #a9a9a9;
	cursor: pointer;
}

.plus::before {
	content: "";
	position: absolute;
	transform: rotate(90deg);
	top: 50%;
	right: 14%;
	width: 12px;
	height: 3px;
	background: #a9a9a9;
	cursor: pointer;
}

.plus::after {
	content: "";
	position: absolute;
	top: 22px;
	right: 14%;
	width: 12px;
	height: 3px;
	background: #a9a9a9;
	cursor: pointer;
}

/*.minus:hover::before,
.plus:hover::before,
.plus::hover::after {
	background: #000;
}

.minus:active::before,
.plus:active::before,
.plus:active::after {
	background: #81b3d2;
}*/

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translate(-50%,-70%);
        transform: translate(-50%,-70%);
    }

    70% {
        -webkit-transform: translate(-50%,-40%);
        transform: translate(-50%,-40%);
    }

    90% {
        -webkit-transform: translate(-50%,-10%);
        transform: translate(-50%,-10%);
    }

    100% {
        -webkit-transform: translate(-50%,-5%);
        transform: translate(-50%,-5%);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translate(-50%,-70%);
        transform: translate(-50%,-70%);
    }

    70% {
        -webkit-transform: translate(-50%,-40%);
        transform: translate(-50%,-40%);
    }

    90% {
        -webkit-transform: translate(-50%,-10%);
        transform: translate(-50%,-10%);
    }

    100% {
        -webkit-transform: translate(-50%,-5%);
        transform: translate(-50%,-5%);
    }
}

.show-map {
	position: fixed;
	top: 5%;
	left: 50%;
	z-index: 200;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	display: block;
	-webkit-animation: bounce 0.4s;
	animation: bounce 0.4s;
}