html,
body {
	position: relative;
	min-width: 320px;
	font-size: 16px;
	line-height: 21px;
	font-weight: normal;
	font-style: normal;
	font-family: "PT Sans", Arial, sans-serif;
	color: #333;
	background: #f2f2f2;
}

h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	background: transparent;
}

h2 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	background: transparent
}

h3 {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	background: transparent;
}

img {
	max-width: 100%;
	height: auto;
	border: none;
}

section {
	position: relative;
}

a {
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	background: transparent;
	border: none;
}

a:active,
a:hover,
a:focus {
	outline: 0;
}

p {
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #333;
	background: transparent;
}

b,
strong {
	display: block;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	background: transparent;
}

ul {
	list-style: none;
}

span {
	text-transform: uppercase;
}

p,
h1,
h2,
h3,
h4,
ul,
input,
figure {
	margin: 0;
	padding: 0;
}

article,
aside,
details,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	position: relative;
	display: block;
	font-size: 0;
	line-height: 0;
}

button,
select {
	text-transform: none;
	cursor: pointer;
}

.btn {
	display: inline-block;
	padding: 12px 17px;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: #81b3d2;
	border-radius: 0;
	border: none;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
	outline: none;
}

.visually-hidden {
	display: none;
}

.text-center {/*общий класс для многих блоков*/
	text-align: center;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.clearfix:after {/*общий класс для многих блоков*/
	content: '';
	clear: both;
	display: table;
}

/*------INDEX PAGE-----------------------*/
/*------------header------------*/
.main-header {
	background-color: #fefefe;
	box-shadow: 0px 5px 15px 0px rgba(0,1,1,0.2);
}

.logo {
	position: absolute;
	top: 0px;
	left: 531px;
	z-index: 2;
}

.main-navigation {
	width: 1056px;
	margin: 0 auto;
}

.site-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 15px 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.site-navigation a {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000;
	background: #fff;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #b2b2b2; 
}

.site-navigation li:nth-child(4n+2) {
	-ms-flex-preferred-size: 331px;
	flex-basis: 331px;
}
/*-------section.about------*/
.sedona-fon {
	margin-bottom: 60px;
	background: grey url("../img/main-background.jpg") no-repeat top center;
	background-position-y: -56px;
}

.sedona-fon-title {
	display: block;
	width: 458px;
	margin: 0 auto;
	padding-top: 76px;
}
.sedona-fon img:last-child {
	padding-top: 23px;
}
.big-headline {
	width: 520px;
	margin: auto;
}

.sub-title {
	margin-bottom: 51px;
	padding-top: 27px;
	color: #333;
}

/*-------main------*/

main {
	background-color: #fff;
	box-shadow: 0px 5px 15px 0px rgba(0,1,1,0.2);
}

/*-------section.features-------*/

section.features {
	margin-bottom: 40px;
}

.features-illustration {
	background: #81b3d2;
}

.illustration-image,
.illustration-description {
	float: right;
}

.illustration-description * {
	margin: 0 auto;
	padding-top: 54px;
	padding-right: 60px;
	color: #fff;
}

.main-headline {
	width: 151px;
	margin: 0 auto;
}

.text-comment {
	width: 280px;
	margin: 0 auto;
	padding-top: 24px;
}

.block-title {
	width: 400px;
	display: inline-block;
	padding: 58px 0 80px;
	text-align: center;
	vertical-align: top;
}

.sub-headline {
	padding-top: 29px;
	font-size: 21px;
}

.left .illustration-image {
	float: left;
}

.left > img {
	float: left;
}

.color-fon {
	background: #eee;
}

.feature {
	width: 400px;
	display: inline-block;
	padding: 47px 0 56px;
	text-align: center;
	vertical-align: top;
}

/*-------section.offers-------*/
.offers {
	padding-top: 16px;
}

.offers .main-headline {
	width: auto;
	margin-bottom: 8px;
	font-size: 30px;
	line-height: 24px;
}

.offers .text-comment {
	width: 365px;
	margin: 0 auto;
}

.offers .text-comment {
	margin-bottom: 52px;
}

.offers .btn {
	padding: 30px 140px;
	font-size: 21px;
	line-height: 26px;
	background: #766357;
}

/*-------footer-------*/
.main-footer {
	position: relative;
	box-shadow: 0px 5px 15px 0px rgba(0,1,1,0.2);
}

.position-footer {
	position: absolute;
	width: 1200px;
	top: -120px;
	padding: 35px 0 37px;
	background-color: rgba(255, 255, 255, 0.9);
}

.main-footer .main-headline,
.footer-social,
.footer-copyright {
	display: inline-block;
	width: 400px;
	margin: 0;
	vertical-align: middle;
}

.main-footer .main-headline {
	line-height: 26px;
}

.social-btn {
	display: inline-block;
	width: 46px;
	height: 48px;
	margin: 0 1px;
	vertical-align: middle;
	background: #81b3d2 url("../img/sprites.png") no-repeat center;
	-webkit-transition: background-position 0.5s,
	background-color 0.5s;
	transition:
	background-position 0.5s,
	background-color 0.5s;
}

.social-btn:hover {
	background: #669ec0 url("../img/sprites.png") no-repeat center;
}

.social-btn-inst,
.social-btn-inst:hover {
	background-position: 10px 14px;
}

.social-btn-fb,
.social-btn-fb:hover {
	background-position: -40px 14px;
}

.social-btn-ytb,
.social-btn-ytb:hover {
	background-position: -90px 14px;
}


.social-btn:active {
	background: #5496bd url("../img/sprites.png") no-repeat center;
}

.social-btn-inst:active {
	background-position: 11px -38px;
}

.social-btn-fb:active {
	background-position: -41px -40px;
}

.social-btn-ytb:active {
	background-position: -88px -38px;
}

.copyright-title {
	display: inline-block;
	vertical-align: middle;
}

.footer-copyright .btn {
	width: 113px;
	height: 39px;
	padding: 0px;
	vertical-align: middle;
	background: transparent url(../img/sprites.png) no-repeat top center;
	background-position: 0 -154px ;
}

.footer-copyright .btn:hover {
	background: transparent url(../img/sprites.png) no-repeat top center;
	background-position: -270px -154px ;
}

.footer-copyright .btn:active {
	background: transparent url(../img/sprites.png) no-repeat top center;
	background-position: -134px -155px ;
}

/*----------------HOTEL PAGE-------------*/
/*----------------section.offers-filter----------------*/
.offers-filter {
	background: grey url(../img/background-hotel.jpg) 0 -291px no-repeat;
	background-size: cover;
}

.form-offers {
	padding: 0px 71px 4px 71px;
}

.offers-filter .sub-headline {
	margin-bottom: 19px;
	padding-top: 27px;
	font-size: 16px;
	line-height: 21px;
	text-align: left;
	color: #fff;
}

.checkbox-group {
	display: inline-block;
	margin-right: 119px;
	vertical-align: middle;
}

.cost-filter {
	float: right;
	text-align: center;
}

.list-options {
	padding-top: 9px;
}

.form-checkbox {
	display: none;
}

.checkbox-group .control-label {
	position: relative;
	display: inline-block;
	margin-bottom: 25px;
	padding-left: 41px;
	line-height: 21px;
	color: #fff;
	cursor: pointer;
}

.checkbox-group .control-label::before {
	content: '';
	position: absolute;
	width: 22px;
	height: 22px;
	top: -4px;
	left: 0;
	background: url(../img/sprites.png) no-repeat;
	background-position: -152px 0px;
}

.list-options input[type="checkbox"]:checked + .control-label::after {
	content: '';
	position: absolute;
	width: 26px;
	height: 22px;
	top: -4px;
	left: 0;
	background: url(../img/sprites.png) no-repeat;
	background-position: -148px -53px;
}

.checkbox-group .control-label:hover::before {
	background-position: -202px -1px;
}

.list-options input[type="checkbox"]:checked + .control-label::after {
	background-position: -200px -52px;
}

.list-options input[type="checkbox"]:disabled + label::before {
	background-position: -251px -4px;
}

.list-options input[type="checkbox"]:checked:disabled + label::after {
	background-position: -251px -50px;
}

.margin {
	margin-left: 15px;
}

.cost-filter .sub-headline {
	padding-top: 27px;
	margin-bottom: 10px;
}

.price-controls {
	position: relative;
	border: 2px solid #fff;
	border-radius: 2px;
}

.price-controls label {
	padding-left: 66px;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
}

.price-controls input[type="text"] {
	width: 64px;
	padding: 7px 0 7px 5px;
	font-size: 14px;
	line-height: 21px;
	color: #fff;
	background: transparent;
	outline: none;
	border: none;
}

.price-controls ::-webkit-input-placeholder {
	color:#fff;
}

.price-controls::-moz-placeholder {
	color:#fff;
}/* Firefox 19+ */

.price-controls:-moz-placeholder {
	color:#fff;
}/* Firefox 18- */

.price-controls:-ms-input-placeholder {
	color:#fff;
}

.vertical-line {
	position: absolute;
	width: 2px;
	height: 22px;
	top: 7px;
	left: 50%;
	background: #fff;
}

.range-controls {
	position: relative;
	margin-bottom: 12px;
	overflow: hidden;
}

.scale {
	height: 2px;
	margin: 20px auto;
	background: #918381;
}

.bar {
	width: 83%;
	height: 2px;
	background: #fff;
}

.range-controls .toggle {
	position: absolute;
	top: 11px;
	left: 0px;
	width: 4px;
	height: 4px;
	border: 8px solid #fff;
	background: #ababab;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .min-toggle {
	left: 0px;
}
.range-controls .max-toggle {
	left: 251px;
}

.range-controls .toggle:hover {
	background: #1c4f80;
}

.form-offers .btn {
	padding: 6px 34px;
	font-weight: normal;
	background: transparent;
	border-radius: 2px;
	border: 2px solid #fff;
}

.form-offers .btn:hover {
	color: #000;
	background: #fff;
}

/*-----------------section.sort-------------------*/
.sort {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 31px 73px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.sort .big-headline {
	width: 165px;
	margin: 0px;
	text-align: left;
}

.sorting {
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000;
}

.block-inline {
	display: inline-block;
	vertical-align: middle;
}

.sort-right {
	margin-left: auto;
}

.list-sort li {
	display: inline-block;
	vertical-align: middle;
}

.list-sort a{
	margin-left: 32px;
	font-size: 12px;
	line-height: 18px;
	color: #b2b2b2;
	border-bottom: 1px dashed #81b3d2;
}

.list-sort a:hover {
	color: #81b3d2;
	border-bottom: 1px dashed #81b3d2;
}

.list-sort a:active {
	color: #000;
	border-bottom: none;
}

.list-sort .active {
	color: #92bdd8;
	border-bottom: none;
}

.list-sort a {
	margin-left: 30px;
}

.list-sort .sorting-up,
.list-sort .sorting-down{
	margin-left: 0px;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	border: none;
	background: url(../img/sprites.png) no-repeat;
	background-position: -298px -2px;
}

.list-sort .sorting-down {
	background: url(../img/sprites.png) no-repeat;
	background-position: -298px -49px;
}

.list-sort .sorting-up:hover {
	background-position: -350px 0px;
	border-bottom: none;
}

.list-sort .sorting-down:hover {
	background-position: -347px -50px;
	border-bottom: none;
}

.list-sort .active-arrow-down {
	background-position: -398px -51px;
	border-bottom: none;
}

.list-sort .active-arrow-up {
	background-position: -401px -2px;
	border-bottom: none;
}

/*-------------section.hotels --------------*/

.left-content .main-headline:hover {
	cursor: pointer;
}

.left-content .main-headline:hover {
	color: #81b3d2;
}

.left-content .main-headline:active {
	color: #cacaca;
}

.hotel-groups {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 28px 73px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	border-top: 1px solid #e5e5e5;
}

.hotels .hotel-groups:last-child {
	border-bottom: 1px solid #e5e5e5;
}

.img-block,
.text-block {
	display: inline-block;
	vertical-align: middle;
}

.text-block {
	width: 325px;
	padding-left: 30px;
}

.hotel-groups .main-headline {
	text-align: left;
	width: auto;
	margin-bottom: 12px;
}

.hotel-groups .titul,
.hotel-groups .price {
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #333;
	background: transparent;
}

.hotel-groups .price {
	margin-left: 35px;
}

.hotel-groups .btn {
	padding: 4px 17px;
}

.btn-booking {
	margin-top: 7px;
	margin-left: 6px;
	background: #766357;
}

.btn-booking:hover {
	background: #604e43;
}

.btn-booking:active {
	color: #857871;
	background: #503e33;
}

.star-block {
	font-size: 21px;
	text-align: right;
}

.star {
	display: inline-block;
	margin-bottom: 47px;
	vertical-align: middle;
}

.rating {
	display: block;
	padding: 4px 16px;
	font-size: 14px;
	line-height: 21px;
	color: #666;
	background: #f2f2f2;

}

.hotels-page .position-footer{
	position: relative;
	top: 0;
	padding: 35px 0 37px;
	background-color: rgb(255, 255, 255);
}

/*-------------------------modal----------------------------*/
.form-horizontal {
	display: none;
	width: 458px;
	margin: 0 auto;
	padding: 59px 55px 53px;
	background: #fff;
}

.form-horizontal ::-webkit-input-placeholder {
	color:#000;
}

.form-horizontal::-moz-placeholder          {
	color:#000;
	}/* Firefox 19+ */

.form-horizontal:-moz-placeholder           {
	color:#000;
	}/* Firefox 18- */

.form-horizontal:-ms-input-placeholder      {
	color:#000;
}

.form-group {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 37px;
	text-align: right;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.form-control {
	width: 311px;
	height: 26px;
	padding: 0px 15px;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	background: #f2f2f2;
	outline: none;
	border: 2px solid transparent;
}

.form-control:hover {
	background: #ebebeb;
}

.form-control:active {
	background: #ffffff;
	border: 2px solid #e5e5e5;
}

.small-form {
	width: 11px;
	height: 30px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border: none;
}

.small-form:hover,
.small-form:active{
	background: #f2f2f2;
	border: none;
}

.control-label {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
}

.control {
	position: relative;
	width: 50%;
	font-size: 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.icon::after {
	content: "";
	position: absolute;
	top: 4px;
	right: 8px;
	width: 21px;
	height: 22px;
	z-index: 20;
	background: transparent url(../img/sprites.png) no-repeat top center;
	background-position: -102px -103px ;
	cursor: pointer;
}

.icon:hover::after {
	background-position: -52px -101px ;
}

.icon:active::after {
	background-position: -4px -102px ;
}

.form-horizontal .btn {
	width: 100%;
	margin-top: 21px;
	padding: 17px 17px;
	font-size: 21px;
	line-height: 26px;
}

.btn:hover {
	background: #669ec0;
}

.btn:active {
	color: #88b6d1;
	background: #5496bd;
}

.minus,
.plus {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 30px;
	vertical-align: middle;
	background: #f2f2f2;
	cursor: pointer;
}

.minus::before {
	content: '';
	position: absolute;
	top: 14px;
	left: 13px;
	width: 12px;
	height: 3px;
	background: #a9a9a9;
	cursor: pointer;
}

.plus::before {
	content: '';
	position: absolute;
	top: 14px;
	right: 14px;
	width: 12px;
	height: 3px;
	background: #a9a9a9;
	cursor: pointer;
}

.plus::after {
	content: '';
	position: absolute;
	top: 9.5px;
	right: 18.5px;
	width: 3px;
	height: 12px;
	background: #a9a9a9;
	cursor: pointer;
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translate(-50%,-70%);
		transform: translate(-50%,-70%);
	}

	70% {
		-webkit-transform: translate(-50%,-40%);
		transform: translate(-50%,-40%);
	}

	90% {
		-webkit-transform: translate(-50%,-10%);
		transform: translate(-50%,-10%);
	}

	100% {
		-webkit-transform: translate(-50%,-5%);
		transform: translate(-50%,-5%);
	}
}

@keyframes bounce {
	0% {
		-webkit-transform: translate(-50%,-70%);
		transform: translate(-50%,-70%);
	}

	70% {
		-webkit-transform: translate(-50%,-40%);
		transform: translate(-50%,-40%);
	}

	90% {
		-webkit-transform: translate(-50%,-10%);
		transform: translate(-50%,-10%);
	}

	100% {
		-webkit-transform: translate(-50%,-5%);
		transform: translate(-50%,-5%);
	}
}

.show-map {
	position: absolute;
	bottom: 200px;
	left: 50%;
	z-index: 200;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	display: block;
	-webkit-animation: bounce 0.4s;
	animation: bounce 0.4s;
}